<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lihy.knowledge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuaGuaActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.SplashActivity"/>
        <activity android:name=".activity.DragBubbleActivity"/>
        <activity android:name=".activity.PathMeasureActivity"/>
        <activity android:name=".activity.ParallaxActivity"/>
        <activity android:name=".activity.RecyclerViewTest"/>
        <activity android:name=".activity.TestActivity"/>
    </application>

</manifest>